* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    width: 100%;
    height: 900px;
    position: relative;
    background-image: url("bg_2.jpg");
}


.mainbox {
    width: 100%;
    height: 900px;
    background-color: #659fe7c2;
    display: flex;
}

.left {
    width: 50%;
    height: 200px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 50%;
    height: 800px;
    /* border: 2px solid red; */

}

.left span {
    font-size: 35px;
    color: white;
    font-weight: bold;
    padding-bottom: 50px;
    padding-left: 200px;

}

.anchor {
    display: flex;
    gap: 30px;
    font-size: 15px;
    padding-top: 65px;
}

.anchor a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.anchor i {
    display: none;
}

.span span {
    color: rgba(255, 255, 255, 0.758);
    font-weight: bold;
    font-size: 20px;
}

.span {
    padding-top: 30px;

}

.head {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.sec {
    width: 100%;
    height: auto;
    background-color: #FAFAFA;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.Sec {
    width: 320px;
    height: 150px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */

}

.sec span {
    padding-top: 50px;
    font-size: 15px;
    color: #28e6b7;
}

.sec p {
    padding-bottom: 50px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.724);
}

.icn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.icn i {
    font-size: 25px;
    color: black;
}

.sec1 {
    padding-left: 90px;
}

.sec3 {
    padding-left: 125px;
}

.sec2 {
    padding-left: 90px;
}

.sec4 {
    padding-left: 120px;
}

.sec5 {
    background-color: #21CC7A;
    padding-left: 50px;
}

.sec5 span {
    color: white;
    font-weight: bold;
    font-size: 20px;

}

.sec5 p {
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding-left: 45px;
}

.sec5:hover {
    background-color: black;
}

.main1 {
    width: 100%;
    height: auto;
}

.heading1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

.heading1 h3 {
    font-size: 15px;
    color: #21CC7A;
}

.heading1 h1 {
    font-size: 35px;
}

.box1 {
    width: 450px;
    height: 400px;
    /* border: 2px solid red; */

}

.img1 {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
}

.images {
    width: 450px;
    height: 400px;
    object-fit: cover;
}

.images img {
    width: 100%;
    height: 100%;
}

.box2 {
    width: 450px;
    height: 400px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.star i {
    color: #2F89FC;
}

.txt1 {
    display: flex;
    gap: 15px;
    /* padding-top: 50px; */
}

.txt1 span {
    font-size: 35px;
    color: #2F89FC;
}

.txt1 p {
    font-size: 15px;
    padding-top: 9px;
    color: gray;
}

.king h1 {
    font-weight: 100;
}

.btn1 button {
    padding-inline: 25px;
    padding-block: 10px;
    background-color: white;
    border: 2px solid gray;
}

.btn1 {
    display: flex;
    padding-top: 15px;
}

.box2:hover {
    background-color: #2F89FC;

    .star i {
        color: white;
    }

    .txt1 span {
        color: white;
    }

    .txt1 p {
        color: white;
    }

    .king h1 {
        color: white;
    }

    .btn1 button {
        border: none;
        background-color: white;
    }
}

.footer1 {
    width: 100%;
    height: auto;
}

.pic1 {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */

}

.pic2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    gap: 20px;
    justify-content: center;
}

.pic2 {
    width: 100%;
    height: 300px;
}

.tx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tx span {
    color: #2F89FC;
    /* padding-left: 100px;
    padding-top: 30px; */
}

.tx1 {
    padding-top: 30px;
}

.maintx h2 {
    color: black;
    font-weight: 100;
    text-align: center;
}

.maintx {
    padding-top: 20px;
}

.footer2 {
    margin-top: 150px;
    width: 100%;
    height: auto;
    /* background-color: #21CC7A; */
}

.mainbx {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}

.bx1 {
    width: 379px;
    height: 250px;
    /* border: 2px solid red; */
}

.bx1 img {
    width: 100%;
    height: 100%;
}

.contactbox {
    width: 100%;
    height: auto;
    background-image: url("assets/bg_4\ \(1\).jpg");
}

.bgcolor {
    width: 100%;
    height: auto;
    background-color: #2f88fce2;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.sc {
    width: 283px;
    height: 350px;
    /* border: 2px solid red; */
}

.h {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.h h1 {
    color: white;
}

.h p {
    color: rgba(255, 255, 255, 0.781);
    font-size: 18px;
}

.icn5 {
    display: flex;
    gap: 10px;
    padding-top: 100px;

}

.icn5 i {
    font-size: 35px;
    color: white;
}

.h2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
}

.h2 h1 {
    color: white;
}

.span {
    padding-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

P i {
    color: white;
    font-size: 20px;
}

.H3 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-top: 50px;
}

.h3 p {
    color: rgba(255, 255, 255, 0.856);
}

.p {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.p p {
    color: white;
    font-size: 20px;
}


@media (max-width: 1280px) and (min-width:768px) {
    .container {
        width: auto;
    }

    .img {
        width: 100%;
        height: 700px;
    }

    .mainbox {
        width: 100%;
        height: 700px;
    }

    .left {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .left span {
        padding-left: 100px;
    }

    .anchor {
        display: flex;
        gap: 20px;
        font-size: 15px;
        padding-top: 65px;
    }

    .anchor i {
        display: none;
    }

    .right {
        width: 70%;

    }

    .span span {
        font-size: 15px;
    }

    .Sec {
        width: 50%;
        padding-left: 180px;

    }

    .sec5 {
        padding-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .sec5 p {
        padding-right: 50px;

    }

    .img1 {
        width: 100%;
        padding-left: 0;
        display: flex;
        justify-content: start;
    }

    .box1 {
        width: 50%;
    }

    .box2 {
        width: 50%;
    }

    .box1 .images {
        width: 100%;
    }

    .images img {
        width: 100%;
    }

    .bx1 {
        width: 20%;
    }

    .bx1 img {
        width: 100%;
    }

    .pic1 {
        width: 30%;
    }

    .pic1 img {
        width: 100%;
    }

    .maintx h2 {
        font-size: 20px;
    }

    .contactbox {
        width: 100%;

    }

    .bgcolor {
        width: 100%;
    }

    .section {
        width: 100%;
    }

    .sc {
        width: 22%;
    }

    .h {
        gap: 18px;
    }

    .h h1 {
        font-size: 20px;
    }

    .h p {
        margin-top: 20px;
    }

    .icn5 {
        padding-top: 50px;
    }

    .H3 {
        padding-top: 30px;
    }

    .p {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

@media (max-width: 768px) and (min-width:360px) {
    .container {
        width: 100%;
    }

    .Sec {
        width: 100%;
    }

    .img {
        width: 100%;
        height: 500px;
    }

    .mainbox {
        width: 100%;
        height: 500px;
    }

    .anchor a {
        display: none;
    }

    .head h1 {
        font-size: 40px;
    }

    .right {
        width: 100%;
    }

    .left {
        display: flex;
        padding-right: 280px;
    }

    .right span {
        font-size: 15px;
    }

    .right i {
        display: flex;
        padding-left: 70%;
        font-size: 25px;
    }

    .box1 {
        width: 100%;
    }

    .box2 {
        width: 100%;
    }

    .box1 .images {
        width: 100%;
    }

    .images img {
        width: 100%;
    }

    .pic1 {
        width: 70%;

    }

    .maintx h2 {
        font-size: 25px;
    }

    .images2 {
        display: flex;
        gap: 10px;
    }

    .tx {
        padding-top: 10px;
    }

    .mainbx {
        width: 100%;
    }

    .bx1 {
        width: 100%;
    }

    .bx1 img {
        width: 100%;
    }

    .contactbox {
        width: 100%;
    }

    .bgcolor {
        width: 100%;
        padding-left: 50px;
    }

    .section {
        width: 100%;
    }

    .sc {
        width: 100%;
    }

    .p {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}